# Final Project EDA: Storm Events

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os
import re
import math
import time
import random

from time import sleep
from collections import Counter
from collections import defaultdict
from glob import glob
from tqdm import tqdm

## Take a look at example of storm events csv from Jose

In [2]:
df_storm = pd.read_csv('Raw/StormEvents_details-ftp_v1.0_d1950_c20210803.csv')
df_storm.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,195004,28,1445,195004,28,1445,NaN,10096222,OKLAHOMA,40,...,0,NaN,NaN,35.12,-99.20,35.17,-99.20,NaN,NaN,PUB
1,195004,29,1530,195004,29,1530,NaN,10120412,TEXAS,48,...,0,NaN,NaN,31.90,-98.60,31.73,-98.60,NaN,NaN,PUB
2,195007,5,1800,195007,5,1800,NaN,10104927,PENNSYLVANIA,42,...,0,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,NaN,PUB
3,195007,5,1830,195007,5,1830,NaN,10104928,PENNSYLVANIA,42,...,0,NaN,NaN,40.60,-76.75,NaN,NaN,NaN,NaN,PUB
4,195007,24,1440,195007,24,1440,NaN,10104929,PENNSYLVANIA,42,...,0,NaN,NaN,41.63,-79.68,NaN,NaN,NaN,NaN,PUB

In [3]:
df_storm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 51 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BEGIN_YEARMONTH     223 non-null    int64
 1   BEGIN_DAY           223 non-null    int64
 2   BEGIN_TIME          223 non-null    int64
 3   END_YEARMONTH       223 non-null    int64
 4   END_DAY             223 non-null    int64
 5   END_TIME            223 non-null    int64
 6   EPISODE_ID          0 non-null      float64
 7   EVENT_ID            223 non-null    int64
 8   STATE               223 non-null    object
 9   STATE_FIPS          223 non-null    int64
 10  YEAR                223 non-null    int64
 11  MONTH_NAME          223 non-null    object
 12  EVENT_TYPE          223 non-null    object
 13  CZ_TYPE             223 non-null    object
 14  CZ_FIPS             223 non-null    int64
 15  CZ_NAME             223 non-null    object
 16  WFO                 0 non-null      float64
 17  BEGIN_DATE_TIME     223 non-null    object
 18  CZ_TIMEZONE         223 non-null    object
 19  END_DATE_TIME       223 non-null    object
 20  INJURIES_DIRECT     223 non-null    int64
 21  INJURIES_INDIRECT   223 non-null    int64
 22  DEATHS_DIRECT       223 non-null    int64
 23  DEATHS_INDIRECT     223 non-null    int64
 24  DAMAGE_PROPERTY     223 non-null    object
 25  DAMAGE_CROPS        223 non-null    int64
 26  SOURCE              0 non-null      float64
 27  MAGNITUDE           223 non-null    int64
 28  MAGNITUDE_TYPE      0 non-null      float64
 29  FLOOD_CAUSE         0 non-null      float64
 30  CATEGORY            0 non-null      float64
 31  TOR_F_SCALE         217 non-null    object
 32  TOR_LENGTH          223 non-null    float64
 33  TOR_WIDTH           223 non-null    int64
 34  TOR_OTHER_WFO       0 non-null      float64
 35  TOR_OTHER_CZ_STATE  0 non-null      float64
 36  TOR_OTHER_CZ_FIPS   0 non-null      float64
 37  TOR_OTHER_CZ_NAME   0 non-null      float64
 38  BEGIN_RANGE         223 non-null    int64
 39  BEGIN_AZIMUTH       0 non-null      float64
 40  BEGIN_LOCATION      0 non-null      float64
 41  END_RANGE           223 non-null    int64
 42  END_AZIMUTH         0 non-null      float64
 43  END_LOCATION        0 non-null      float64
 44  BEGIN_LAT           223 non-null    float64
 45  BEGIN_LON           223 non-null    float64
 46  END_LAT             115 non-null    float64
 47  END_LON             115 non-null    float64
 48  EPISODE_NARRATIVE   0 non-null      float64
 49  EVENT_NARRATIVE     0 non-null      float64
 50  DATA_SOURCE         223 non-null    object
dtypes: float64(21), int64(19), object(11)
memory usage: 89.0+ KB

#### Notes:

Seems like a decent starting place.  
- The data would need to be filtered but that's easy.  
- We would also need to narrow our scope.